[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pycryptodome = "*"
requests = "*"
beautifulsoup4 = "*"
django-bootstrap4 = "*"

[dev-packages]

[requires]
python_version = "3.9"
