[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "tuna"

[packages]
django = "*"
pycryptodome = "*"
requests = "*"
beautifulsoup4 = "*"
pytelegrambotapi = "*"
django-inline-svg = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
django-silk = "*"

[dev-packages]
pre-commit = "*"
pytest = "*"
pytest-django = "*"

[requires]
python_version = "3"
