{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block subtitle %}登录{% endblock %}

{% block content %}
<h2>登录</h2>
<label class="mb-3">请使用西北大学统一身份认证登录</label>
<form method="POST" name="login_form">
    {% crispy login_form %}
    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" id="invalidCheck" required checked>
        <label class="form-check-label" for="invalidCheck">
            同意<a target="_blank" href="/tos/">隐私政策和用户协议</a>
        </label>

    </div>
    <button type="submit" class="btn btn-primary" id="login_btn">登录</button>
</form>
{% endblock %}
