{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<body>
{% block subtitle %}注册{% endblock %}
{% block content %}
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-4-desktop">
                <h1 class="title">注册</h1>
                <form method="post" action="{% url 'register' %}">
                    {% csrf_token %}
                    <div class="field">
                        <label class="label">用户名</label>
                        <div class="control">
                            <label>
                                <input class="input" type="text" name="username" required placeholder="请输入用户名">
                            </label>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">电子邮件</label>
                        <div class="control">
                            <label>
                                <input class="input" type="email" name="email" required placeholder="请输入电子邮件">
                            </label>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">密码</label>
                        <div class="control">
                            <label>
                                <input class="input" type="password" name="password1" required placeholder="请输入密码">
                            </label>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">确认密码</label>
                        <div class="control">
                            <label>
                                <input class="input" type="password" name="password2" required
                                       placeholder="请再次输入密码">
                            </label>
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link" type="submit">注册</button>
                        </div>
                        <div class="control">
                            <a href="{% url 'login' %}" class="button is-light">返回登录</a>
                        </div>
                    </div>
                </form>
                <p class="help is-danger">{{ form.non_field_errors }}</p>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>
