[Unit]
Description=Create a full NWU.ICU PostgreSQL backup
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/nwuicu-db-backup
UMask=0077
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
