[Unit]
Description=Create full NWU.ICU and Umami PostgreSQL backups
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/nwuicu-db-backup
UMask=0077
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
