from .settings import *

SECRET_KEY = 'whosyourdaddy'
DEBUG = True

ALLOWED_HOSTS = ['*']

# this is only used for production logging, you can ignore them in development.
TELEGRAM_BOT_API_TOKEN = 'your api token'
TELEGRAM_CHAT_ID = -1
