from .settings import *

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = 'whosyourdaddy'

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True

ALLOWED_HOSTS = ['*']

TELEGRAM_BOT_API_TOKEN = 'your api token'
TELEGRAM_CHAT_ID = -1
