from .settings import *

SECRET_KEY = 'whosyourdaddy'
DEBUG = True

ALLOWED_HOSTS = ['*']

# this is only used for production logging, you can ignore them in development.
TELEGRAM_BOT_API_TOKEN = 'your api token'
TELEGRAM_CHAT_ID = -1

WEBPUSH_SETTINGS = {
    "VAPID_PUBLIC_KEY": "Vapid Public Key",
    "VAPID_PRIVATE_KEY":"Vapid Private Key",
    "VAPID_ADMIN_EMAIL": "admin@example.com"
}

INSTALLED_APPS += ["debug_toolbar"]
MIDDLEWARE += ["debug_toolbar.middleware.DebugToolbarMiddleware"]

INTERNAL_IPS = [
    "127.0.0.1",
]

EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST = "smtp.your.email.server"
EMAIL_PORT = 465
EMAIL_USE_SSL = True
# You need to make sure your SMTP server uses SSL, otherwise use TLS
# EMAIL_USE_TLS = True
EMAIL_HOST_USER = "yourEmail@example.com"
EMAIL_HOST_PASSWORD = "your_password"
