{% extends "base.html" %}

{% block subtitle %}关于{% endblock %}

{% block content %}
    <div class="about_content">
        <h1 class="custom-title">关于我们</h1>
        <p class="custom-content">
            致力于为西北大学学子提供更好的学习生活体验.
            <br>
            开源于<a target="_blank" href="https://github.com/NWUCA/NWU.ICU">
            Github <i class="bi bi-box-arrow-up-right"></i></a>.
        </p>


        <h1 class="custom-title">联系方式</h1>
        <p>
            邮箱: <a href="mailto:admin@nwu.icu">admin@nwu.icu</a>
            <br>
            Github:
            <a target="_blank" href="https://github.com/NWUCA/NWU.ICU/issues">
                提交Issue
                <i class="bi bi-box-arrow-up-right"></i>
            </a>
        </p><br>
        <h1 class="custom-title">运营成本</h1>

        <p>
            于2019-06-08至今平稳运营
            <br>
            <b class="custom-cost">{{ day_difference }}天</b>.
            <br>
            支出
            <br>
            <b class="custom-cost">{{ cost_money }}元</b>.
        <details>
            <summary>点击查看具体成本</summary>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">部署项目</th>
                    <th scope="col">服务商</th>
                    <th scope="col">价格</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>NWU.ICU主站</td>
                    <td>腾讯云</td>
                    <td>24¥/月=288¥/年</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>resour.nwu.icu资源网站</td>
                    <td>腾讯云</td>
                    <td>24¥/月=288¥/年</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>NWU.ICU域名</td>
                    <td>Porkbun</td>
                    <td>13.60$/年=86.51¥/年</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>总计</td>
                    <td></td>
                    <td>662.51¥/年</td>
                </tr>
                </tbody>
            </table>
        </details>
        <br>

        <div class="donate_image">
            下面是用于捐赠本站的赞赏码, 可以通过微信扫码的方式支持本站发展.<br>
            手机端不方便可以将图片保存后再用微信扫描.<br>
            <img src="https://moo-blog-pic.oss-cn-shanghai.aliyuncs.com/img/utools_1717459406688.png"
                 alt="donation_qrcode"><br>
        </div>
    </div>


    <style>
        .about_content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 80%;
            max-width: 1200px;
            margin: 0 auto;
        }

        .donate_image {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 80%;
            max-width: 1200px;
            margin: 0 auto;
        }

        .link-wrapper {
            display: inline-block;
        }

        .about_content p, .website-cost p, .about_content details {
            font-size: 1em;
            color: #333;
            text-align: center;
            margin: 10px 0;
        }

        .custom-cost {
            font-size: 2em;
            color: #333;
            text-align: center;
        }

        .custom-title {
            font-size: 3em;
            color: #333;
            text-align: center;
            font-weight: bold;
        }

        .custom-content {
            flex-direction: column;
            justify-content: center;
            max-width: 1200px;
            margin: 0 auto;
        }


    </style>
{% endblock %}
