{% extends "base.html" %}

{% block subtitle %}关于{% endblock %}

{% block content %}
<div class="content">
    <h1>关于我们</h1>
    <p>
        我们致力于为西北大学学子提供更好的学习生活体验.
        本站的代码开源在
        <a target="_blank" href="https://github.com/NWUCA/NWU.ICU">
            Github
            <i class="bi bi-box-arrow-up-right"></i>
        </a>上.
    </p>

    <p>
        你可以通过邮箱 <a href="mailto:admin@nwu.icu">admin@nwu.icu</a> 联系到我们.
        或者你也可以在 Github 上提交一个
        <a target="_blank" href="https://github.com/NWUCA/NWU.ICU/issues">
            Issue
            <i class="bi bi-box-arrow-up-right"></i>
        </a>
        来反馈本站的问题.
    </p><br>
    <h1>网站的运营状况与成本</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">部署项目</th>
      <th scope="col">服务商</th>
      <th scope="col">价格</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>NWU.ICU主站</td>
      <td>腾讯云轻量</td>
      <td>24¥/月=288¥/年</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>resour.nwu.icu资源网站</td>
      <td>腾讯云轻量</td>
      <td>24¥/月=288¥/年</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>NWU.ICU域名</td>
      <td>Porkbun</td>
      <td>13.60$/年=86.51¥/年</td>
    </tr>
      <tr>
      <th scope="row">4</th>
      <td>总计</td>
      <td></td>
      <td>662.51¥/年</td>
    </tr>
  </tbody>
</table>


    <p>
        网站已经于2019-06-08至今({% now "Y年m月d日" %})平稳运营约年. 支出约2k+元.<br>
        下面是用于捐赠本站的赞赏码, 可以通过微信扫码的方式支持本站发展.<br>
        手机端不方便可以将图片保存后再用微信扫描.<br>
        <img align="center" src="https://nwu-resources.oss-cn-beijing.aliyuncs.com/pay_qrcode.png" width="60%" alt="donation_qrcode"><br>
        自愿打赏或捐助, 本站不承诺任何责任和义务, 只能确保在有精力时维护并发展本站. 如需退款请将带有付款单号的截图和收款二维码发送邮件至：<a href="mailto:admin@nwu.icu">admin@nwu.icu</a>.
    </p>
    <h1>友情链接</h1>
    <a href="https://nwuzmed.ga/" target="_blank">
        DAC导航
        <i class="bi bi-box-arrow-up-right"></i>
    </a>
</div>
{% endblock %}
