{% extends "base.html" %}

{% block subtitle %}关于{% endblock %}

{% block content %}
    <h1>关于我们</h1>
    <p>
        我们是一群神秘的小伙伴, 我们致力于为西北大学学子提供更好的学习生活体验.
        本站的代码开源在
        <a target="_blank" href="https://github.com/NWUCA/NWU.ICU">
            Github
            <i class="bi bi-box-arrow-up-right"></i>
        </a>上.
    </p>

    <p>
        你可以通过邮箱 <a href="mailto:admin@nwu.icu">admin@nwu.icu</a> 联系到我们.
        或者你也可以在 Github 上提交一个
        <a target="_blank" href="https://github.com/NWUCA/NWU.ICU/issues">
            Issue
            <i class="bi bi-box-arrow-up-right"></i>
        </a>
        来反馈本站的问题.
    </p>

    <br>

    <h1>友情链接</h1>
    <a href="https://nwuzmed.ga/" target="_blank">
        DAC导航
        <i class="bi bi-box-arrow-up-right"></i>
    </a>

{% endblock %}
