{% load static %}

<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NWU.ICU-{% block subtitle %}{% endblock %}</title>

    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        .wrapper {
            min-height: 100%;
            margin-bottom: -50px;
        }

        {# for django-crispy-forms, get rid of the `*` denoting the required fields #}
        .asteriskField {
            display: none;
        }

    </style>

    <link rel="manifest" href="/manifest.json">

    <script async defer data-domain="nwu.icu" src="https://analytics.coherence.space/js/plausible.js"></script>

    {# favicons #}
    <link rel="apple-touch-icon" href="{% static 'img/icon-192.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'img/icon-192.png' %}">
    <link rel="icon" href="{% static 'img/icon-192.png' %}">

    {# Bootstarp Icons #}
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    {# bulma #}
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.3/css/bulma.min.css">

    <script>
        navigator.serviceWorker.register('/serviceworker.js')
    </script>

    <script
            src="https://browser.sentry-cdn.com/6.11.0/bundle.min.js"
            crossorigin="anonymous"
    ></script>

    <script>
        Sentry.init({
            dsn: "https://70fa0bc07f114e538288ace62c87faa5@o971270.ingest.sentry.io/5923395",

            // Set tracesSampleRate to 1.0 to capture 100%
            // of transactions for performance monitoring.
            // We recommend adjusting this value in production
            tracesSampleRate: 1.0,
        });
    </script>

    {% block additional_heads %}{% endblock %}
</head>


<body>
<div class="wrapper">
    <nav class="navbar is-dark">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">NWU.ICU</a>
            <a class="navbar-burger" id="navbar_burger" data-target="navbar_menu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu" id="navbar_menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/course_list/">课程评价</a>
                <a class="navbar-item" href="/report/">自动填报</a>
                <a class="navbar-item" href="https://resour.nwu.icu/" target="_blank">
                    资源分享
                    <i class="bi bi-box-arrow-up-right"></i>
                </a>
                <a class="navbar-item" href="/about/">关于</a>
            </div>

            <div class="navbar-end">
                {% if user.is_authenticated %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            {% if user.nickname %}
                                {{ user.nickname }}
                            {% else %}
                                {{ user.name }}
                            {% endif %}
                        </a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="/settings/">设置</a>
                            <a class="navbar-item" href="/logout/">注销</a>
                        </div>
                    </div>

                {% else %}
                    <a class="navbar-item" href="/login/">登录</a>
                {% endif %}
            </div>
        </div>
    </nav>


    <div id="content" class='container'>
    <section class="section pt-4">
        {% for announcement in announcements %}
            {% if announcement.type == 'all' %}
                <div class="notification is-info is-light">
                    公告: {{ announcement.content | linebreaks }} 最后更新时间: {{ announcement.update_time }}
                </div>
            {% endif %}
        {% endfor %}

        {% block messages %}
            {% for message in messages %}
                <div
                        {% if message.tags == 'error' %} class="notification is-danger is-light"
                        {% else %} class="notification is-success is-light"
                        {% endif %}
                >
                    {% if 'safe' in message.tags %}{{ message | safe }}{% else %}{{ message }}{% endif %}
                </div>
            {% endfor %}
        {% endblock %}
    </section>

        <section class="section pt-0">
            {% block content %}{% endblock %}
        </section>
    </div>
</div>

<footer class="container has-text-centered mt-4">
        <span>2019-2022 nwu.icu</span>
        <a href="/about/">关于我们</a>
        <a href="mailto:admin@nwu.icu" target="_blank" class="ml-2">联系我们</a>
        <span class="ml-2">version: {{ version }}</span>
</footer>

<script src="{% static 'misc.js' %}"></script>
<script>
    // toggle navbar menu on touch devices
    const el = document.getElementById('navbar_burger')
    el.addEventListener('click', () => {
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');
    })
</script>
</body>
</html>
