{% load static %}
{% load svg %}

<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <title>NWU.ICU-{% block subtitle %}{% endblock %}</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FDZ38PGVZ6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-FDZ38PGVZ6');
    </script>

    <style>
        body {
            padding-top: 5rem;
            margin-bottom: 80px !important; /* Margin bottom by footer height */
        }

        @media (min-width: 768px) {
            form {
                padding-right: 30%;
            }
        }

        html {
            position: relative;
            min-height: 100%;
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60px; /* Set the fixed height of the footer here */
            line-height: 30px; /* Vertically center the text there */
            background-color: #f5f5f5;
        }

    </style>

    {# Bootstarp #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# vue #}
    <script src="https://unpkg.com/vue@3.0.9/dist/vue.global.js"></script>

    <script defer src="{% static 'misc.js' %}"></script>
</head>


<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">NWU.ICU</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            id="courseDropdown"
                    >
                        课程评价
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="courseDropdown">
                        <li><a class="dropdown-item" href="/course_list/">课程列表</a></li>
                        <li><a class="dropdown-item" href="/course/">添加课程</a></li>
                        <li><a class="dropdown-item" href="/teacher/">添加教师</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/report/">自动填报</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://resour.nwu.icu/" target="_blank">
                        资源分享
                        {% svg 'box-arrow-up-right' %}
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            id="friendsDropdown"
                    >
                        友链
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="friendsDropdown">
                        <li><a class="dropdown-item" href="https://nwuzmed.ga/" target="_blank">
                            DAC导航
                            {% svg 'box-arrow-up-right' %}
                        </a></li>
                    </ul>
                </li>

            </ul>
            {% if user.is_authenticated %}
                <label style="color: rgba(255,255,255,.55)">{{ user.name }}, </label>
                <a class="nav-link" href="/logout/" style="color: rgba(255,255,255,.55)">注销</a>
            {% else %}
                <a class="nav-link" href="/login/" style="color: rgba(255,255,255,.55)">登录</a>
                {#FIXME: 为什么颜色没有继承其他 nav-link?#}
            {% endif %}
        </div>
    </div>
</nav>


<div id="content" class='container'>
    {% for announcement in announcements %}
        {% if announcement.type == 'all' %}
            <div class="alert alert-primary" role="alert">
                公告: {{ announcement.content }} <br> 最后更新时间: {{ announcement.update_time }}
            </div>
        {% endif %}
    {% endfor %}

    {% block messages %}
        {% for message in messages %}
            <div
                    {% if message.tags == 'error' %} class="alert alert-danger"
                    {% else %} class="alert alert-success"
                    {% endif %}
                                                     role="alert">
                {% if 'safe' in message.tags %}{{ message | safe }}{% else %}{{ message }}{% endif %}
            </div>
        {% endfor %}
    {% endblock %}

    {% block content %}{% endblock %}
</div>


<footer class="footer">
    <div class="container">
        <div>
            <span>2020 nwu.icu Source Code On</span>
            <a target="_blank" href="https://github.com/NWUCA/NWU.ICU">
                Github
                {% svg 'box-arrow-up-right' %}
            </a>
            <span style="margin-left: 15px">version: {{ version }}</span>
        </div>
        <div>
            <span>意见反馈: <a href="mailto:admin@nwu.icu">admin@nwu.icu</a></span>
            <span>
                或提交一个
                    <a target="_blank" href="https://github.com/NWUCA/NWU.ICU/issues">
                        Issue
                        {% svg 'box-arrow-up-right' %}
                    </a>
            </span>
        </div>
    </div>
</footer>

</body>
</html>
