{% extends 'base.html' %}

{% block subtitle %}公告栏{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="title is-3 has-text-centered mt-5">公告栏</h2>
        <div class="section">
            {% for bulletin in bulletin_list %}
                <div class="box">
                    <h3 class="title is-4">{{ bulletin.title }}</h3>
                    <div class="content">
                        {{ bulletin.content | safe }}
                    </div>
                    <p>
                        <strong>发布者:</strong> {{ bulletin.publisher }}<br>
                        <strong>发布时间:</strong> {{ bulletin.publish_time }}<br>
                        <strong>修改时间:</strong> {{ bulletin.update_time }}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
