{% extends "base.html" %}

{% block subtitle %}首页{% endblock %}

{% block content %}
    <div class="content">
        <h2>欢迎来到 NWU.ICU</h2>
        <p>一些常用的导航:</p>
        <ul>
            <li><a href="http://jwgl.nwu.edu.cn/sso/jziotlogin">教务管理系统</a></li>
            <li><a href="https://www.nwu.edu.cn/newtzgg-list.jsp?urltype=tree.TreeTempUrl&wbtreeid=1187">官网通知</a></li>
            <li><a href="https://jwc.nwu.edu.cn/">教务处</a></li>
            <li><a href="https://weixinprinthost.woquyun.com/wq-web/#/index">图书馆自助打印</a></li>
            <li><a href="https://mail.nwu.edu.cn/">邮箱</a></li>
            <li><a href="http://nwu.fanya.chaoxing.com/portal">西北大学网络教学平台</a></li>
            <li><a href="https://www.icourse163.org/spoc/university/NWU#/c">中国大学MOOC SPOC</a></li>
            <li><a href="http://ybxggl.nwu.edu.cn/wiseduIndex.jsp">易班学工</a></li>
            <li><a href="https://webvpn.nwu.edu.cn/">WEBVPN</a></li>
            <li><a href="http://cgzx.nwu.edu.cn:8080/venues/auth">彩虹体育馆预约</a></li>
            <li>
                <a href="http://agentdockingopac.featurelib.libsou.com/showhome/search/showSearch?schoolId=25">图书馆馆藏检索</a>
            </li>
        </ul>
        <p class="block">本栏目的灵感来自于 <a href="https://ustc.life/" target="_blank">USTC 导航</a></p>
    </div>
{% endblock %}
