{% extends "base.html" %}

{% block subtitle %}设置{% endblock %}

{% block content %}
    <section class="section">
        <h1 id="title" class="title">设置</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="field">
                <label class="label">昵称</label>
                <div class="control">
                    <input
                            class="input" type="text" name="nickname"
                            value="{{ user.nickname }}" required
                    >
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button type="submit" class="button is-link">提交</button>
                </div>
            </div>
        </form>
    </section>

    <section class="section">
        <h1 class="title">实验性功能</h1>
        <button class="btn btn-primary" onclick="turnOnNotification()">
            开启通知
        </button>
        <p>每个设备的通知状态相互独立, 目前只能在一个设备启用, 目前暂无实际用处.</p>
        <p>实测仅 PC 及部分原生 Android 可以开启.</p>
    </section>

    <script>
        function urlBase64ToUint8Array(base64String) {
            const padding = '='.repeat((4 - base64String.length % 4) % 4);
            const base64 = (base64String + padding)
                .replace(/\-/g, '+')
                .replace(/_/g, '/');

            const rawData = window.atob(base64);
            const outputArray = new Uint8Array(rawData.length);

            for (let i = 0; i < rawData.length; ++i) {
                outputArray[i] = rawData.charCodeAt(i);
            }
            return outputArray;
        }

        class messages {
            static success(msg) {
                let title = document.getElementById('title')
                let alert = document.createElement('div');
                alert.className = "notification is-info is-light";
                alert.innerText = msg;
                title.before(alert);
            }
        }

        function turnOnNotification() {
            navigator.serviceWorker.register('/serviceworker.js').then(registration => {
                const subscribeOptions = {
                    userVisibleOnly: true,
                    applicationServerKey: urlBase64ToUint8Array('{{ VAPID_PUBLIC_KEY }}')
                };

                // registration.pushManager.getSubscription().then({
                //
                // })
                return registration.pushManager.subscribe(subscribeOptions);
            }).then(function (pushSubscription) {
                console.log('Received PushSubscription: ', JSON.stringify(pushSubscription));
                return pushSubscription;
            }).then(subscription => {
                return fetch('/api/save-subscription/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': document.querySelector("input[name='csrfmiddlewaretoken']").value
                    },
                    body: JSON.stringify(subscription)
                })
            }).then(resp => {
                messages.success('开启成功')
            }).catch(err => {
                messages.success(err)
            })
        }

    </script>

{% endblock %}
