{% extends "base.html" %}

{% block subtitle %}用户协议与隐私政策{% endblock %}

{% block content %}
    <div class="content">
        <h5 class="subtitle">用户协议</h5>
        <ul>
            <li>我们将视情况删除我们认为不合适的内容, 并保留封停您的帐号的权利.</li>
            <li>禁止一切形式的人身攻击、侮辱、挑衅及违反国家法律法规的内容.</li>
            <li>请勿发表无意义的灌水内容.</li>
        </ul>

        <h5 class="subtitle">隐私政策</h5>
        <ul>
            <li>我们不会存储您的密码, 然而, 您的密码可能会被用于调试.</li>
            <li>我们使用了高德地图的定位服务, 高德将知晓您的位置信息及其他浏览数据.</li>
            <li>我们使用了 Sentry 错误跟踪服务, Sentry 将记录您的浏览数据.</li>
            <li>学校和其他有关部门有权获取您的数据.</li>
            <li>除此之外, 您的数据将不会被共享给其他第三方.</li>
        </ul>

        <p>
            最后更新日期: 2022-03-29
        </p>
    </div>
{% endblock %}
