{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h2>添加教师</h2>
        <form method="POST">
            <div class="mb-3 row">
                {% csrf_token %}
                <div class="col-4 mb-3">
                    <label for="name" class="form-label">姓名</label>
                    <input type="text" name="name" id="name" class="form-control">
                </div>
                <div class="w-100"></div>
                <div class="col-4 mb-3">
                    <label class="form-label">院系</label>
                    <select class="form-select" name="school" aria-label="Default select example">
                        <option selected>选择院系</option>
                        {% for school in schools %}
                            <option value="{{ school.id }}">{{ school.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">添加</button>
        </form>
    </div>
{% endblock %}