{% extends "base.html" %}

{% block subtitle %}课程评价{% endblock %}

{% block content %}
    {% for announcement in announcements %}
        {% if announcement.type == 'course' %}
            <div class="alert alert-primary" role="alert">
                公告: {{ announcement.content | linebreaks }} 最后更新时间: {{ announcement.update_time }}
            </div>
        {% endif %}
    {% endfor %}

    <form class="block" action="/course_list/">
        <div class="field has-addons">
            <input type="search" class="input mr-3"
                   placeholder="搜索课程、老师 (可用空格分隔同时匹配多个关键词)"
                   aria-label="search" name="s" id="searchInput">
            <button type="submit" class="button bi bi-search"></button>
        </div>
    </form>

    {% if search_string %}
        <div class="level">
            <a href="?" class="level-right">←返回课程列表</a>
        </div>

    {% else %}
        <div class="tabs">
          <ul>
            <li
                    {% if request.path == "/latest_review/" %}class="is-active"{% endif %}
            ><a href="/latest_review/">最新评价</a></li>
            <li
                    {% if request.path == "/course_list/" %}class="is-active"{% endif %}
            ><a href="/course_list/">课程列表</a></li>
            <li
                    {% if request.path == "/my_review/" %}class="is-active"{% endif %}
            ><a href="/my_review/">我的评价</a></li>
          </ul>
        </div>
    {% endif %}

    {% block course_content %}{% endblock %}
{% endblock %}
