{% extends "base_course.html" %}

{% block course_content %}
    <div class="row">
        <h1 class="col">课程列表</h1>
        <span class="col-auto">
            <a type="button" class="btn btn-primary" href="/course/">
                新增课程
            </a>
        </span>
    </div>

    <form>
        <div class="row container">
            <input type="search" class="form-control col gx-4" placeholder="搜索课程、老师" aria-label="search" name="s" id="searchInput">
            <button type="submit" class="btn btn-primary bi bi-search col-auto"></button>
        </div>
    </form>

    {% for course in courses %}
        <div class="card m-2">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="/course/{{ course.id }}">{{ course.name }}</a>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    {{ course.teacher.name }} {{ course.get_classification_display }}
                    {{ course.school }}
                </h6>
                <p class="card-text">
                    {% if course.rating %}
                        {{ course.rating | floatformat }} / 5 分
                        ({{ course.review_set.count }} 人评价)
                    {% else %}
                        暂无评分
                    {% endif %}
                </p>
            </div>
        </div>
    {% endfor %}
    <p style="font-size: small; text-align: center;">没有找到想要评价的课程? <a href="/course/">点击添加</a></p>

    <script>
        document.getElementById('searchInput').value = '{{ search_string }}'
    </script>
{% endblock %}
