{% extends "base_course.html" %}
{% load crispy_forms_tags %}

{% block course_content %}
    <h2>{{ course.name }}</h2>
    <p>
        <span style="margin-right: 50px">课程类别: {{ course.get_classification_display }}</span>
        <span>教师: {{ course.teacher }}</span>
    </p>

    <h3>
        <span>
            总体评价:
            {% if rating %}
                {{ rating | floatformat }} / 5
            {% else %}
                暂无评分
            {% endif %}
        </span>
        <span style="font-size: medium">({{ reviews.count }} 人评价)</span>
    </h3>

    <div class="row">
        <h2 class="col">评价列表</h2>
        <button type="button" class="btn btn-primary col-auto" data-bs-toggle="modal" data-bs-target="#add_review">
            新增评价
        </button>
    </div>

    <div class="modal fade" id="add_review" tabindex="-1" aria-labelledby="add_review_modal_label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="add_review_modal_label">新增评价</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% crispy review_form %}
                </div>
            </div>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">内容</th>
            <th scope="col">打分</th>
            <th scope="col">姓名</th>
        </tr>
        </thead>
        <tbody>
        {% for review in reviews %}
            <tr>
                <th scope="row">{{ review.id }}</th>
                <td>{{ review.content }}</td>
                <td>{{ review.rating }}</td>
                {% if review.anonymous %}
                    <td>匿名</td>
                {% else %}
                    <td>{{ review.created_by.name }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
