{% extends "base_course.html" %}

{% block course_content %}

    {% for course in page_obj %}
        <div class="card my-4">
            <header class="card-header">
                <p class="card-header-title">
                    <a href="/course/{{ course.id }}">{{ course.name }}</a>
                </p>
            </header>
            <div class="card-content">
                <p><strong>
                    {{ course.get_teachers }} {{ course.get_classification_display }}
                </strong></p>
                <p>
                    {% if course.rating %}
                        {{ course.rating | floatformat }} / 5 分
                        ({{ course.review_set.count }} 人评价)
                    {% else %}
                        暂无评分
                    {% endif %}
                </p>
            </div>
        </div>
    {% endfor %}

    <nav class="pagination" role="navigation" aria-label="pagination">
        <ul class="pagination-list">
            {% if page_obj.has_previous %}
                <li><a class="pagination-link" href="?page=1&s={{ search_string }}">1</a></li>
                {% if page_obj.previous_page_number != 1 %}
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                    <li><a class="pagination-link"
                           href="?page={{ page_obj.previous_page_number }}&s={{ search_string }}">
                        {{ page_obj.previous_page_number }}
                    </a></li>
                {% endif %}
            {% endif %}

            {% if paginator.count != 0 %}
                <li><a class="pagination-link is-current" aria-current="page">
                    {{ page_obj.number }}
                </a></li>
            {% endif %}

            {% if page_obj.has_next %}
                {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
                    <li><a class="pagination-link" href="?page={{ page_obj.next_page_number }}&s={{ search_string }}">
                        {{ page_obj.next_page_number }}
                    </a></li>
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                {% endif %}
                <li><a class="pagination-link" href="?page={{ page_obj.paginator.num_pages }}&s={{ search_string }}">
                    {{ page_obj.paginator.num_pages }}
                </a></li>
            {% endif %}
        </ul>
    </nav>

    <p class="has-text-centered is-size-7">没有找到想要评价的课程? 请反馈给我们</p>

    <script>
        document.getElementById('searchInput').value = '{{ search_string }}'
    </script>
{% endblock %}
