{% extends "base_course.html" %}

{% block course_content %}
    <section class="block">
        <h2 class="title is-2">{{ course.name }}</h2>
        <p class="subtitle"><strong>教师:</strong> {{ course.get_teachers }}</p>
        <p class="columns">
            <span class="column"><strong>课程类别:</strong> {{ course.get_classification_display }}</span>
            <span class="column"><strong>开课院系:</strong> {{ course.school }}</span>
        </p>

        <h3 class="subtitle">
            <span>
                <strong>总体评价:</strong>
                {% if rating %}
                    {{ rating | floatformat }} / 5
                {% else %}
                    暂无评分
                {% endif %}
            </span>
            <span class="fs-6">({{ reviews.count }} 人评价)</span>
        </h3>
        <p class="columns">
            <span class="column">
                课程难度: {{ difficulty }}
            </span>
            <span class="column">
                给分高低: {{ grade }}
            </span>
            <span class="column">
                作业多少: {{ homework }}
            </span>
            <span class="column">
                收获多少: {{ reward }}
            </span>
        </p>
    </section>

    <div class="level">
        <h2 class="level-left title is-3">评价列表</h2>
        <a class="level-right button is-dark" href="/course/{{ course.id }}/review_add/">
            {% if not is_reviewed %}
                新增评价
            {% else %}
                修改评价
            {% endif %}
        </a>
    </div>

    {% include "review_snippet.html" with reviews=reviews display_name=True %}

{% endblock %}
