{% extends "base_course.html" %}

{% block course_content %}

    {% if search_string %}
        <div class="level">
            <h2 class="subtitle is-size-3 level-left">搜索 「{{ search_string }}」</h2>
            <a href="?" class="level-right">←返回课程列表</a>
        </div>

    {% else %}
        <h1 class="title">课程列表</h1>
        <p class="block">
            目前共有 {{ review_count }} 条评价.
        </p>
    {% endif %}

    <form class="block">
        <div class="field is-horizontal">
            <input type="search" class="input mr-3"
                   placeholder="搜索课程、老师 (可用空格分隔同时匹配多个关键词)"
                   aria-label="search" name="s" id="searchInput">
            <button type="submit" class="button bi bi-search"></button>
        </div>
    </form>

    <p class="block">共 {{ paginator.count }} 门课 (当前第 {{ page_obj.number }} 页)</p>

    {% for course in page_obj %}
        <div class="card my-4">
            <header class="card-header">
                <p class="card-header-title">
                    <a href="/course/{{ course.id }}">{{ course.name }}</a>
                </p>
            </header>
            <div class="card-content">
                <p><strong>
                    {{ course.get_teachers }} {{ course.get_classification_display }}
                </strong></p>
                <p>
                    {% if course.rating %}
                        {{ course.rating | floatformat }} / 5 分
                        ({{ course.review_set.count }} 人评价)
                    {% else %}
                        暂无评分
                    {% endif %}
                </p>
            </div>
        </div>
    {% endfor %}

    <nav class="pagination" role="navigation" aria-label="pagination">
        <ul class="pagination-list">
            {% if page_obj.has_previous %}
                <li><a class="pagination-link" href="?page=1&s={{ search_string }}">1</a></li>
                {% if page_obj.previous_page_number != 1 %}
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                    <li><a class="pagination-link"
                           href="?page={{ page_obj.previous_page_number }}&s={{ search_string }}">
                        {{ page_obj.previous_page_number }}
                    </a></li>
                {% endif %}
            {% endif %}

            {% if paginator.count != 0 %}
                <li><a class="pagination-link is-current" aria-current="page">
                    {{ page_obj.number }}
                </a></li>
            {% endif %}

            {% if page_obj.has_next %}
                {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
                    <li><a class="pagination-link" href="?page={{ page_obj.next_page_number }}&s={{ search_string }}">
                        {{ page_obj.next_page_number }}
                    </a></li>
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                {% endif %}
                <li><a class="pagination-link" href="?page={{ page_obj.paginator.num_pages }}&s={{ search_string }}">
                    {{ page_obj.paginator.num_pages }}
                </a></li>
            {% endif %}
        </ul>
    </nav>

    <p class="has-text-centered is-size-7">没有找到想要评价的课程? 请反馈给我们</p>

    <script>
        document.getElementById('searchInput').value = '{{ search_string }}'
    </script>
{% endblock %}
