{% if reviews %}
    {% for review in reviews %}
        <div class="box">
            <p class="subtitle">
                {% if display_name %}
                    <span>
                        {% if review.created_by.nickname %}
                            <td>{{ review.created_by.nickname }}</td>
                        {% else %}
                            <td>匿名</td>
                        {% endif %}
                    </span>
                {% endif %}
                {% if latest_review %}
                    <span>点评了</span>
                {% endif %}
                {% if display_course %}
                    <span><a href="/course/{{ review.course.id }}">
                        {{ review.course.name }}({{ review.course.get_teachers }})
                    </a></span>
                {% endif %}
                <span class="ml-5">
                    {{ review.rating }} 分
                </span>
                {% if review.edited and not latest_review %}
                    <span class="is-size-7 ml-4">已编辑</span>
                {% endif %}
            </p>
            <p>
                {{ review.content | linebreaks }}
            </p>
            <p class="is-size-7 level">
                <span class="level-left">{{ review.create_time }}</span>
                    {% if review.created_by == user and not latest_review %}
                        <span class="level-right">
                            <a href="/course/{{ review.course.id }}/review_add/">编辑</a>
                        </span>
                    {% endif %}
            </p>
        </div>
    {% endfor %}
{% else %}
    <p>暂无评价</p>
{% endif %}
